VCC_PORT=8000
CLOUDFLARED_UID=1000
CLOUDFLARED_GID=1000
VCC_STORAGE_DIR=storage
VCC_MAX_UPLOAD_MB=250
VCC_MAX_REQUEST_MB=504
VCC_MAX_VIDEO_SECONDS=120
VCC_MAX_VIDEO_MEGAPIXELS=8.3
VCC_JOB_TTL_HOURS=6
VCC_ANALYSES_PER_HOUR=6
