VCC_PORT=8000
CLOUDFLARED_UID=1000
CLOUDFLARED_GID=1000
VCC_STORAGE_DIR=storage
VCC_MAX_UPLOAD_MB=250
VCC_MAX_REQUEST_MB=504
VCC_MAX_SOURCE_UPLOAD_MB=1024
VCC_UPLOAD_CHUNK_MB=16
VCC_UPLOAD_TTL_HOURS=2
VCC_MIN_FREE_DISK_MB=4096
VCC_MAX_QUEUED_JOBS=2
VCC_MAX_VIDEO_SECONDS=1800
VCC_MAX_VIDEO_MEGAPIXELS=8.3
VCC_JOB_TTL_HOURS=6
VCC_ANALYSES_PER_HOUR=6
