[Unit]
Description=Check for tested ColorCheck updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=10
Persistent=true
Unit=colorcheck-auto-deploy.service

[Install]
WantedBy=timers.target
